@charset "utf-8";
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
footer{
	border-top: solid 3px rgba(125,125,125,.1);
	background-color:rgba(30,30,30,1);
	color:white;
	text-align: center;
	height:auto;
	font-family: montserrat, sans-serif;
}
footer img{
	width:65px;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
  border-radius: 20px;
}

::-webkit-scrollbar-button {
    display:none;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(30,30,30);
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(51,71,3,0.70); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(51,71,3, 61); 
}
#background{
	background-image:url("../graphics/image-from-rawpixel-id-3317791-original.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	height:60vh;
}
#topbar{
	text-align: center;
	align-content: center;
	width:100%;
	height:5em;
	margin-bottom: 5em;
}
#topbar img{
	width:200px;
	margin:0 auto;
}
#topbar h1{
	color:#fff;
	text-shadow: 0 0 15px #334730;
	font-size:35px;
	font-family: kode mono, sans-serif, Arial, arial;
	margin-top:-2px;
}
#topbar a{
	color:white;
	text-decoration: white;
}
#topbar i{
	color:white;
}
#main{
	height:auto;
	background-color: rgba(30,30,30,1);
	padding-bottom:2em;
} 
#main hr{
	max-width:95%;
	margin:1em auto;
	border-color:rgba(125,125,125,.25);
	border-radius: 20px;
	border-width: 1px;
	border-style:solid;
}
#content h1{
	text-align:center;
	color:#fff;
	text-shadow: 0 0 15px #334730;
	font-size:35px;
	font-family: kode mono, sans-serif, Arial, arial;
}
#content h2{
	color:rgba(150,150,150,1);
	text-align: center;
	margin:0;
	font-family: montserrat, sans-serif;
	font-size:30px;
}
#content p{
	font-size:15px;
	text-align: center;
}
#content i{
	margin-top:15px;
	color:white;
	transition: transform .3s ease;
}
#discordLink:hover{
	transform: translateY(-2px);
}
#mainContainer{
	padding:20px;
	background-color:rgba(50,50,50,.2);
	border: 3px outset rgba(100,100,100,0);
	border-radius:10px;
	max-width: 60%;
	text-align: center;
	color:white;
	font-family: montserrat, sans-serif;
	margin: 10px auto 2em;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#mainContainer:hover{
	transform: translateY(-.5em);
  box-shadow: 10px 10px rgba(100,100,100,.25);
}
#codeOfConduct{
	padding:20px;
	background-color:rgba(50,50,50,.2);
	border: 3px outset rgba(100,100,100,0);
	border-radius:10px;
	max-width: 60%;
	text-align: center;
	color:white;
	font-family: montserrat, sans-serif;
	margin: 10px auto 2em;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#codeOfConduct:hover{
	transform: translateY(-.5em);
  box-shadow: 10px 10px rgba(100,100,100,.25);
}
#codeOfConduct h3{
	color:rgba(150,150,150,1);
	font-size:22px;
}
#codeOfConduct hr{
	max-width:65%;
	margin:1em auto;
	border-color:rgba(125,125,125,.25);
	border-radius: 20px;
	border-width: 1px;
	border-style:solid;
}
#codeOfConduct span{
	font-family: serif;
	font-weight: 100;
}
#codeOfConduct ul{
	text-align:left;
  list-style-position: inside;
}